In [3]:
def nats(n):
    yield n
    yield from nats(n + 1)

In [4]:
s = nats(1)

In [5]:
next(s)

1

In [6]:
def sieve(s):
    n = next(s)
    yield n
    yield from sieve(i for i in s if i%n != 0)

In [7]:
p = sieve(nats(2))

In [8]:
for _ in range(100):
    print(next(p))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541

In [9]:
def take(n, gen):
    for _ in range(n):
        yield next(gen)

In [10]:
p = take(100, sieve(nats(2)))

In [11]:
primes = [i for i in p]

In [20]:
def fold(i, l, f):
    n = next(l)
    if len(l) > 1:
        return fold(f(n, i), l, f)

In [21]:
nums = [i for i in take(100, nats(1))]

In [22]:
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [26]:
summed = fold(0, nums, lambda a, b: a + b)

In [27]:
print(summed)

None